<%= render '/layouts/header' %>
<div class="row">
	<% @lists.each do |list| %>
		<%= link_to list_path(list.id) do %>
			<div class="container col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-5 top-buffer">
				<h3><%= list.title %></h3>
				<div class="container bg-info col-sm-12 col-md-12">
					<ul>
						<% list.content.try(:split, ',').try(:each) do |a|%>
							<li><%= a %></li>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<a href="lists/new"> <button class="btn btn-primary btn-lg center-block top-buffer"> Create a New List </button></a>